# arquivos de banco de dados
temp/app.db

# Pasta de dependências do Node.js
node_modules/

# Arquivos gerados pelo TypeScript
*.js.map
*.d.ts

# Pasta de saída da compilação (se você a configurar)
dist/
build/
coverage/

# Variáveis de ambiente
.env

# Arquivos de log e cache
npm-debug.log*
.DS_Store